* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  background-color: #f7f7f7;
  max-width: 1000px;
  min-height: 100vh;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
}

h1,h2,h3,p {
  text-align: center;
}



form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

input {
  border: 1px solid #f7f7f7;
  padding: 10px;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
input:focus {
  outline: none;
}

.form-control {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  
}

.btn {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  color: #797777;
  background-color: #d2d0d0;
  border: none;


}

.recipes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 200px;
  background-color: rgb(239, 199, 55);
  margin: 10px;
  border-radius: 5px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image {
  width: 100%;
}

.card-body {
  padding: 15px;
  text-align: center;
  
}

.category {
  color: #797777;
  
  
  
}

a {
  background-color: #f59106;
  color: inherit;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 13px;
  
}

